* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Ẩn thanh scrollbar */
::-webkit-scrollbar {
  width: 0; /* Độ rộng của thanh scrollbar */
  /* Đường kính của nút cuộn */
  &-thumb {
    background-color: rgba(0, 0, 0, 0); /* Đặt màu nền cho nút cuộn thành màu trong suốt */
    &:hover {
      background-color: rgba(0, 0, 0, 0.3); /* Đặt màu nền khi di chuột vào thanh scrollbar */
    }
  }

  /* Đường viền xung quanh thanh scrollbar */
  &-track {
    background: transparent; /* Đặt màu nền cho thanh scrollbar thành màu trong suốt */

    /* Hiển thị thanh scrollbar ngang (nếu cần) */
    &-piece:end {
      background: transparent;
    }

    /* Hiển thị thanh scrollbar dọc (nếu cần) */
    &-piece:start {
      background: transparent;
    }
  }
}

/* HEADER */
#menu-icon {
	color: black;
	font-size: 30px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 9%;
  background: #6495ED;
	.navlist {
		margin-bottom: 0px;
		display: flex;
		a {
			color: black;
			margin-left: 60px;
			font-size: 15px;
			font-weight: 600;
			border-bottom: 2px solid transparent;
			transition: all .55s ease;
		}
		a:hover {
			color: #D91C31;
			border-bottom: 2px solid #D91C31;
		}
	}
}

@media (max-width: 1350px) {
  #menu-icon {
    display: block;
  }
  header {
    transition: .2s;
		.navlist {
			position: absolute;
			top: 100%;
			border-radius: 15px;
			right: -100%;
			width: 300px;
			height: 40vh;
			backdrop-filter: blur(10px);
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 50px 20px;
			transition: all .55s ease;
			a {
				display: block;
				margin: 7px 0;
			}
			&.open {
				right: 0;
			}
		}
	} 
}

/* END HEADER */

/* Footer */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

footer section .social-icons .ri-youtube-fill,
.social-icons .ri-facebook-circle-fill {
  font-size: 34px;
}

footer section .social-icons .ri-youtube-fill:hover {
  color: #ff0000;
}

footer section .social-icons .ri-facebook-circle-fill:hover {
  color: #0866ff;
}
/* END Footer */

/* Home */
/* Banner */
.carousel {
	margin-top: 100px;
}

.carousel-cell {
	width: 100%;
	height: 800px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.carousel .flickity-button,
.carousel .previous:hover,
.carousel .next:hover {
	background: transparent;
}

.previous .flickity-button-icon path,
.next .flickity-button-icon path {
	color: #007fff
}
/* END Banner */

.hero-home {
	margin-top: 40px;
	.row {
		margin-right: 0;
		padding-left: 10px;
		h5 {
			margin-top: 10%;
			font-size: 22px;
			text-align: center;
			color: #007fff;
		}
		p,
		.order-last p {
			margin-bottom: 0;
			text-align: center;
			font-size: 16px;
		}
		.order-last .row {
			gap: 5%;
			margin: 0;
			place-content: center;
			text-align-last: center;
			display: flex;
			.col {
				width: unset;
				padding: 0;
				i {
					color: #007fff;
				}
			}
		}
	}
	.container-media {
		margin-top: 50px;
		width: 100%;
		height: 550px;
		background: white;
		.row-cols-2 {
			margin-right: 0;
			place-content: center;
			.ratio-16x9 {
				width: 731px;
				height: 411px;
				video {
					border-radius: 10px;
				}
			}
			.ratio-16x9,
			.col {
				margin-top: 70px;
				width: 38%;
				.container .row .col .column-item {
					text-align: -webkit-center;
					position: relative;
					overflow: hidden;
					transition: all 0.5s ease;
					cursor: pointer;
					.item-description {
						position: absolute;
						bottom: -30px;
						left: 50%;
						transform: translateX(-50%);
						background: rgba(72, 94, 116, 0.7);
						color: white;
						padding: 5px 15px;
						border-radius: 5px;
						opacity: 0;
						transition: all 0.5s ease;
					}
					img {
						max-width: 100%;
						height: auto;
						display: block;
					}
				}
				.container .row .col .column-item:hover {
					transform: translateY(-10px);
					.item-description {
						bottom: 0;
						opacity: 1;
					}
				}
			}
		}
	}
	.container-end {
		background: #E6E8F6;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		text-align: center;
		padding: 20px;
		.row {
			text-align: center;
			margin-bottom: 1%;
			margin-right: 0;
		}
		.col-sm .home-item {
			position: relative;
			overflow: hidden;
			transition: all 0.5s ease;
			cursor: pointer;
			img {
				max-width: 100%;
				height: auto;
				display: block;
			}
			.home-description {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: rgba(0, 0, 0, 0.7);
				color: white;
				padding: 5px 15px;
				border-radius: 5px;
				opacity: 0;
				transition: all 0.5s ease;
				text-align: center;
				a {
					color: white;
				}
			}
			&:hover {
				transform: translateY(-10px);
			}
			&:hover .home-description {
				opacity: 1;
			}
			img {
				width: 600px;
				height: 400px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
  .carousel .flickity-viewport {
    height: 300px;

    .flickity-slider .carousel-cell {
      height: 100%;
    }
  }

  .hero-home {
    margin-top: 0;

    .row {
      padding: 0;
      margin: 0;
      .col {
				flex: unset;
        p {
          font-size: 15px;
        }
      }
    }

    .container-media {
      margin-top: 10%;
			height: 500px;
      .row-cols-2 {
				height: 100%;
				place-content: unset;
				padding: unset;
        .ratio-16x9 {
					height: 100%;
					#myVideo {
						height: unset;
						border-radius: unset;
					}
        }
        .ratio-16x9 {
          margin-top: 0;
					height: 40%;
          width: 100%;
        }

        .col {
          width: 100%;
					height: 60%;
					margin-top: unset;
          .container {
            .row-cols-2 {
              .col {
								width: unset;
                padding-top: 8px;
								width: 50%;
								.column-item {
									.item-description {
										position: unset;
										color: #000;
										background: unset;
										opacity: 1;
									}
								} 
              }
            }
          }
        }
      }
    }

    .container-end .row .col-sm {
			padding: 0 0;
      padding-bottom: 25px;
			.home-item img {
				height: 250px;
				width: 100%;
			}
    }
  }
}
// IPAD
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.carousel .flickity-viewport {
		margin-top: 10%;
	}
	.hero-home {
		.container-end .row .col-sm {
			.home-item img {
				height: 250px;
				width: 100%;
			}
		}
		.container-media {
			height: unset;
      .row-cols-2 {
        .ratio-16x9 {
					width: 50%;
					#myVideo {
						height: unset;
						border-radius: unset;
					}
        }
				.col {
					.container {
						.row-cols-2 {
							height: 150px;
						}
					}
				}
			}
		}
	}
}

/* END Home */

/* Introduce */
.hero-introduce {
  display: block;
  max-width: 100%;
	.logo {
		text-align: center;
		h2,
  	h6 {
			text-align: center;
		}
		h2 {
			margin-top: 100px;
			color: #007fff;
		}
		img {
			width: 50px;
		}
	}
	p,
	ul,
	strong h5 {
		margin-left: 185px;
		margin-right: 185px;
	}
	img {
		width: 70%;
		display: block;
		margin: 0 auto;
	}
}

/* Điều chỉnh font-size và lề cho các kích thước màn hình khác nhau */
@media screen and (max-width: 1024px) {
	.hero-introduce {
		p,
		ul,
		strong h5 {
			margin-left: 10px;
			margin-right: 10px;
		}
		img {
			width: 90%;
		}
	}
}

/* END Introduce */

/* Solutions */
.hero-solution {
	display: block;
	.logo {
		padding: 10px;
		text-align: center;
		margin-bottom: 50px;
		h2 {
			margin-top: 100px;
			color: #007fff;
		}
		img {
			width: 50px;
		}
	}
	.content-flex-right,
	.content-flex-left {
		h5 {
			color: #007fff;
		}
		display: flex;
		justify-content: center;
	}
	.content-flex-right img,
	.content-flex-left img, 
	.content-solution {
		font-family: 'Roboto', sans-serif;
		text-align: center;
		align-self: center;
		width: 500px;
		margin: 0;
		border-radius: 5px;
	}
	.content-flex-center {
		margin-top: 50px;
		text-align: -webkit-center;
		.content-solution {
			text-align: center;
			h5 {
				color: #007fff;
			}
		}
		img {
			border-radius: 5px;
		}
	}
	.container-logo-hethong {
		margin-top: 30px;
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
		.row-2 {
			padding-top: 0.5%;
		}
		.row .col img {
			border-radius: 5px;
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
	}
	.content-flex-right img:hover {
    transition: all .50s ease;
    transform: translateX(-10px);
    filter: brightness(70%);
  }

  .content-flex-left img:hover {
    transition: all .50s ease;
    transform: translateX(10px);
    filter: brightness(70%);
  }

  .content-flex-center img:hover,
  .container-logo-hethong .row .col img:hover {
    transition: all .50s ease;
    transform: translateY(-10px);
    filter: brightness(70%);
  }
}

/* CSS cho màn hình nhỏ hơn 768px (di động) */
@media screen and (max-width: 768px) {
	.hero-solution {
		.logo {
			text-align: center;
			margin-bottom: 0;
		}
		.content-flex-right,
		.content-flex-left {
			flex-direction: column;
			align-items: center; /* Căn giữa các phần tử */
		}
		.content-flex-right .content-solution,
		.content-flex-left .content-solution,
		.content-flex-right .content-solution h5,
		.content-flex-left .content-solution h5 {
			margin-left: 10px ;
			margin-bottom: 0px;
			width: 90%;
		}
		.content-flex-right .content-solution h5,
		.content-flex-left .content-solution h5,
		.content-flex-center .content-solution h5 {
			margin-top: 10px;
			font-size: 15px;
		}
		.content-flex-right .content-solution p,
		.content-flex-left .content-solution p,
		.content-flex-center .content-solution p {
			margin-bottom: 0;
			font-size: 12px;
		}
		.content-flex-right img,
		.content-flex-left img {
			margin-top: 10px;
			width: 90%;
		}
		.content-flex-center {
			.content-solution {
				width: 100%;
			}
			img {
				width: 100%;
			}
		}
		.container-logo-hethong {
			margin-top: 20px;
			margin-right: 0;
			margin-left: 0;
			.row {
				margin: 0;
				.col {
					padding: 1px;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}

/* IPAD */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.hero-solution {
		.content-flex-right,
		.content-flex-left {
			padding: 10px;
		}
		.content-flex-right .content-solution h5,
		.content-flex-left .content-solution h5,
		.content-flex-center .content-solution h5 {
			font-size: 20px;
		}
		.content-flex-center {
			margin-left: 5px;
			margin-right: 5px;
			.content-solution {
				text-align: center;
				h5 {
					color: #007fff;
				}
			}
			img {
				width: 100%;
				border-radius: 5px;
			}
		}
		.container-logo-hethong {
			.row {
				display: unset;
				.col {
					padding-bottom: 20px;
				}
			}
		}
	}
}

/* END Solutions */

/* Project */
.hero-project {
  display: block;
	.logo {
		padding: 10px;
		text-align: center;
		h2 {
			margin-top: 100px;
			color: #007fff;
		}
		img {
			width: 50px;
		}
	}
	.content-flex-right,
	.content-flex-left {
		display: flex;
		justify-content: center;
		gap: 10px;
		margin-top: 50px;
		img {
			width: 500px;
			margin: 0;
		}
		.content-project {
			width: 500px;
		}
	}
}

/* CSS cho màn hình nhỏ hơn 768px (di động) */
@media screen and (max-width: 768px) {
  .hero-project {
    .content-flex-right,
    .content-flex-left {
      flex-direction: column;
      align-items: center; /* Căn giữa các phần tử */
			img {
        width: 90%; /* Chiếm toàn bộ chiều rộng */
      }
      .content-project,
      .content-project h5 {
        margin-left: 10px;
        margin-bottom: 0;
        width: 90%; /* Chiếm toàn bộ chiều rộng */
      }
			.content-project h5 {
				font-size: 15px;
			}
      .content-project p {
        font-size: 12px;
      }
    }
  }
}

/* IPAD */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.hero-project {
    .content-flex-right,
    .content-flex-left {
			width: 100%;
			font-size: 13px;
			padding: 10px;
			img {
				width: 50%;
			}
			.content-project {
				width: 50%;
				h5 {
					font-size: 20px;
				}
			} 
    }
  }
}

/* END Project */

/* Contact */
.hero-contact {
  text-align: center;
  .logo {
    padding-bottom: 20px;
    img {
      width: 50px;
    }
  }

  h2 {
		margin-top: 100px;
    text-align: center;
    color: #007fff;
  }

  p img {
    width: 30px;
  }
}

.gradient-text-f, .gradient-text-y {
  font-size: 24px; /* Cỡ chữ */
  background: linear-gradient(245.59deg, #007fff 0%, #78c9d3 28.53%, #d4ffaa 75.52%);
  -webkit-background-clip: text; /* Cho phép áp dụng background cho phần text trên trình duyệt Safari (tùy chọn) */
  background-clip: text; /* Áp dụng background cho phần text */
  color: transparent; /* Làm chữ màu trong suốt */

  &:hover {
    color: #0866ff; /* Hover màu chữ cho gradient-text-f */
  }
}

.gradient-text-y:hover {
  color: #ff0000; /* Hover màu chữ cho gradient-text-y */
}

/* LINE */
.centered-horizontal-line {
  text-align: center; /* Căn giữa nội dung theo chiều ngang */
}

.horizontal-line {
  display: inline-block;
  width: 15%; /* Độ rộng của đường gạch ngang */
  border-top: 1px solid #000; /* Màu và chiều dày của đường gạch ngang có thể được điều chỉnh tùy ý. */
	padding-bottom: 1rem;
}
/* LINE */

.hero-contact p {
	font-size: 18px;
}

/* END Contact */
