*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
}

.scrollable-content {
  height: 100vh; /* Đảm bảo chiều cao của phần tử để lăn chuột */
  overflow: hidden; /* Ẩn thanh cuộn */
}

/* Header */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

header {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 9%;
	background: linear-gradient(245.59deg, #007fff 0%, #78c9d3 28.53%, #d4ffaa 75.52%);
}

header .navlist {
	margin-bottom: 0px;
}

.navlist {
	display: flex;
}

.navlist a{
	color: black;
	margin-left: 60px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: all .55s ease;
}

.navlist a:hover {
	color: #007fff;
	border-bottom: 2px solid #007fff;
}

#menu-icon {
	color: black;
	font-size: 30px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

@media (max-width: 1350px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    border-radius: 15px;
    right: -100%;
    width: 300px;
    height: 40vh;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
  }
  .navlist a {
    display: block;
    margin: 7px 0;
    margin-left: 0;
  }
  .navlist.open {
    right: 0;
  }
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: .2s;
  }
}
/* END Header */

/* Footer */
.container {
  max-width: 1200px; /* Điều chỉnh kích thước tối đa của container */
  margin: 0 auto; /* Căn giữa container */
  padding: 20px; /* Thêm khoảng cách xung quanh container nếu cần */
}
.social-icons .ri-youtube-fill,
.social-icons .ri-facebook-circle-fill {
  font-size: 34px;
}

.social-icons .ri-youtube-fill:hover {
  color: #ff0000;
}

.social-icons .ri-facebook-circle-fill:hover {
  color: #0866ff;
}
/* END Footer */

/* Introduce */
.carousel {
	margin-top: 10%;
}

.carousel-cell {
	width: 80%;
	height: 490px;
	margin-right: 10px;
	border-radius: 15px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.flickity-button {
	background: transparent;
}

.previous:hover {
	background: transparent;
}

.next:hover {
	background: transparent;
}

.previous .flickity-button-icon path {
	color: #d4ffaa
}

.next .flickity-button-icon path {
	color: #007fff
}

.hero-introduce {
  margin-top: 50px;
  display: block;
  max-width: 100%;
}

.hero-introduce .logo h2,
.hero-introduce .logo h6 {
	text-align: center;
}

.hero-introduce .logo h2 {
	color: #007fff;
}

.hero-introduce .logo img {
	width: 50px;
}

.hero-introduce p,
.hero-introduce ul,
.hero-introduce strong h5 {
  margin-left: 185px;
	margin-right: 185px;
}

.hero-introduce img {
  width: 70%;
}

/* Điều chỉnh font-size và lề cho các kích thước màn hình khác nhau */
@media screen and (max-width: 768px) {
  .hero-introduce p,
  .hero-introduce ul,
  .hero-introduce strong h5 {
    margin-left: 10px; /* Loại bỏ lề trái */
		margin-right: 10px;
  }
	.hero-introduce img {
		width: 90%;
	}
	.carousel {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	.hero-introduce {
		margin-top: 200px;
	}
	.carousel {
		display: none;
	}
}
/* END Introduce */

/* Solutions */
.hero-solution {
	display: block;
}

.hero-solution .logo {
	padding: 10px;
	text-align: center;
	margin-bottom: 50px;
}

.hero-solution .logo h2 {
	margin-top: 200px;
  color: #007fff;
}

.hero-solution .logo img {
	width: 50px;
}

.hero-solution .content-flex-right,
.hero-solution .content-flex-left {
	display: flex;
	justify-content: center;
	/* gap: 10px;
	margin-top: 50px; */
}

.hero-solution .content-flex-right img,
.hero-solution .content-flex-left img {
	width: 500px;
	margin: 0;
}

.hero-solution .content-flex-right .content-solution,
.hero-solution .content-flex-left .content-solution {
	width: 500px;
}

.hero-solution .content-flex-right h5,
.hero-solution .content-flex-left h5 {
	color: #007fff;
}

.hero-solution .content-flex-right .content-solution,
.hero-solution .content-flex-left .content-solution {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	align-self: center;
}

.hero-solution .content-flex-center {
	margin-top: 50px;
}

.hero-solution .content-flex-center .content-solution {
	text-align: center;
}

.hero-solution .content-flex-center .content-solution h5 {
	color: #007fff;
}

.container-logo-hethong {
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.hero-solution .content-flex-right img,
.hero-solution .content-flex-left img,
.content-flex-center img,
.container-logo-hethong .row .col img {
	border-radius: 5px;
}

.hero-solution .content-flex-right img:hover{
	transition: all .50s ease;
	transform: translateX(-10px);
	filter: brightness(70%); /* Điều chỉnh giá trị brightness để làm mờ hình ảnh theo ý muốn */
}

.hero-solution .content-flex-left img:hover {
	transition: all .50s ease;
	transform: translateX(10px);
	filter: brightness(70%); /* Điều chỉnh giá trị brightness để làm mờ hình ảnh theo ý muốn */
}

.content-flex-center img:hover,
.container-logo-hethong .row .col img:hover {
	transition: all .50s ease;
	transform: translateY(-10px);
	filter: brightness(70%); /* Điều chỉnh giá trị brightness để làm mờ hình ảnh theo ý muốn */
}

/* CSS cho màn hình nhỏ hơn 768px (di động) */
@media screen and (max-width: 768px) {
	.content-solution h5 {
		font-size: 15px;
	}
	.hero-solution .logo {
		text-align: center;
	}
  .hero-solution .content-flex-right,
  .hero-solution .content-flex-left {
    flex-direction: column;
    align-items: center; /* Căn giữa các phần tử */
  }

  .hero-solution .content-flex-right .content-solution,
  .hero-solution .content-flex-left .content-solution,
	.hero-solution .content-flex-right .content-solution h5,
  .hero-solution .content-flex-left .content-solution h5 {
		margin-left: 10px ;
		margin-bottom: 0px;
    width: 90%; /* Chiếm toàn bộ chiều rộng */
  }

	.hero-solution .content-flex-right .content-solution p,
	.hero-solution .content-flex-left .content-solution p {
		font-size: 12px;
	}

  .hero-solution .content-flex-right img,
  .hero-solution .content-flex-left img {
    width: 90%; /* Chiếm toàn bộ chiều rộng */
  }

	.hero-solution .content-flex-center {
		margin-left: 5px;
		margin-right: 5px;
	}
}

/* IPAD */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.content-solution h5 {
		font-size: 20px;
	}
	.content-flex-right,
	.content-flex-left {
		padding: 10px;
	}
	.hero-solution .content-flex-center {
		margin-left: 5px;
		margin-right: 5px;
	}
}

/* END Solutions */

/* Project */
.hero-project {
  display: block;
}

.hero-project .logo {
	padding: 10px;
	text-align: center;
}

.hero-project .logo h2 {
	margin-top: 200px;
  color: #007fff;
}

.hero-project .logo img {
	width: 50px;
}

.hero-project .content-flex-right,
.hero-project .content-flex-left {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 50px;
}

.hero-project .content-flex-right img,
.hero-project .content-flex-left img {
	width: 500px;
	margin: 0;
}

.hero-project .content-flex-right .content-project,
.hero-project .content-flex-left .content-project {
	width: 500px;
}

/* CSS cho màn hình nhỏ hơn 768px (di động) */
@media screen and (max-width: 768px) {
	.content-project h5 {
		font-size: 15px;
	}
	.hero-project .logo {
		text-align: center;
	}
  .hero-project .content-flex-right,
  .hero-project .content-flex-left {
    flex-direction: column;
    align-items: center; /* Căn giữa các phần tử */
  }

  .hero-project .content-flex-right .content-project,
  .hero-project .content-flex-left .content-project,
	.hero-project .content-flex-right .content-project h5,
  .hero-project .content-flex-left .content-project h5 {
		margin-left: 10px ;
		margin-bottom: 0px;
    width: 90%; /* Chiếm toàn bộ chiều rộng */
  }

	.hero-project .content-flex-right .content-project p,
	.hero-project .content-flex-left .content-project p {
		font-size: 12px;
	}

  .hero-project .content-flex-right img,
  .hero-project .content-flex-left img {
    width: 90%; /* Chiếm toàn bộ chiều rộng */
  }
}

/* IPAD */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.content-project h5 {
		font-size: 20px;
	}
	.content-flex-right,
	.content-flex-left {
		font-size: 11px;
		padding: 10px;
	}
  .hero-project .content-flex-right img,
  .hero-project .content-flex-left img {
    width: 300px;
  }
}
	
/* END Project */

/* Contact */
.gradient-text-f,
.gradient-text-y {
  font-size: 24px; /* Cỡ chữ */
  background: linear-gradient(245.59deg, #007fff 0%, #78c9d3 28.53%, #d4ffaa 75.52%);
  -webkit-background-clip: text; /* Cho phép áp dụng background cho phần text trên trình duyệt Safari (tùy chọn) */
  background-clip: text; /* Áp dụng background cho phần text */
  color: transparent; /* Làm chữ màu trong suốt */
}

.gradient-text-f:hover {
	color: #0866ff;
}

.gradient-text-y:hover {
	color: #ff0000;
}

.hero-contact {
  margin-top: 200px;
	text-align: center;
}

.hero-contact h2 {
  text-align: center;
  color: #007fff;
}

.hero-contact .logo {
	padding-bottom: 50px;
}

.hero-contact .logo img {
	width: 50px;
}

.hero-contact p img {
	width: 30px;
}

/* LINE */
.centered-horizontal-line {
  text-align: center; /* Căn giữa nội dung theo chiều ngang */
}

.horizontal-line {
  display: inline-block;
  width: 15%; /* Độ rộng của đường gạch ngang */
  border-top: 1px solid #000; /* Màu và chiều dày của đường gạch ngang có thể được điều chỉnh tùy ý. */
	padding-bottom: 1rem;
}
/* LINE */

.hero-contact p {
	font-size: 18px;
}

/* END Contact */
